.outer{
    height: 138px;
  width: 457px;
  /* background-color: hotpink; */
  color: #000;
  /* padding: 10px; */
  border: solid 3px rgb(0, 225, 255);
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 1px;
  display: flex;
  flex-direction: row;
}

.blank{
    /* text-align: center; */
    margin: auto;
}
.pic{
    height: 130px;
    width: 130px;
    border: solid 3px red;
    /* margin-left: 0.5%;
    margin-top: 0.5%; */
    /* margin-bottom: 5%; */
    margin-right: 14px;
}

.pic img{
    height: 8rem;
    width: 8rem;
}

.name{
    font-family: Roboto;
    margin-top: 6px;
    font: bold;
    font-size: 20px;
}

.txt{
    margin-top: 14px;
    font-family: Roboto;
    font-size: 20px;
}

.comm{
    display: flex;
  flex-direction: row;
  margin-top: 24px;
  width: 20px;
    height: 20px;
    font-size: medium;
    font: 15px;
    color: #858991;
}

.comment{
    
    margin-right: 14px;
    width: 1em;
    height: 1em;
}

.share{
    margin-right: 14px;
    margin-left: 24px;
    width: 30px;
    height: 30px;
    margin-top: -4px;
}

.like{
    margin-right: 14px;
    margin-left: 24px;
    width: 1em;
    height: 1em;
}