* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

body {
  background: #eeeeee 0% 0% no-repeat padding-box;
}

header {
  /* Layout Properties */
  background-image: url("/t4_saas/quantum screen assets/header pattern image.png");
  padding: 10px;
  opacity: 1;
  .logo {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

@media only screen and (max-width: 500px) {
  .logo {
    display: block;
    text-align: center;
    width: 100%;
  }
  .inner_heading {
    font-size: 10000px;
  }
  .txt{
    input{
        width: 10em;
    }
  }
}

.inn {
  /* UI Properties */
  margin: 5% 30%;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #ffffff;
  opacity: 1;
  width: 40%;
  .inner_heading {
    display: flex;
    flex-direction: row;
    margin: 1% 0;
    img {
      text-align: left;
      font: normal normal normal 26px/28px Material-Design-Iconic-Font;
      letter-spacing: 0.65px;
      color: #1f7a54;
      opacity: 1;
      margin-left: 2rem;
    }
    .log {
      /* UI Properties */
      text-align: center;
      font: normal normal medium 24px/28px Quicksand;
      letter-spacing: 0px;
      color: #222222;
      opacity: 1;
      // margin: 0 30%;
    //   margin-left: 7rem;
      display: inline-block;
      vertical-align: middle;
      width: 80%;
    }
  }
  form {
    margin: 3%;
    // justify-content: center;
    .radio_but {
      display: flex;
      flex-direction: row;
      width: 80%;
      div {
        width: 50%;
        margin-left: 4%;
      }
      input {
        text-align: left;
        font: normal normal medium 16px/20px Quicksand;
        letter-spacing: 0px;
        color: #333333;
        opacity: 1;
        // margin-bottom: 3%;
      }
      margin-bottom: 2%;
    }
  }
  .state,
  .district {
    margin-left: 3%;
    margin-top: 3%;
    // margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    .label {
      text-align: left;
      font: normal normal medium 12px/16px Quicksand;
      letter-spacing: 0px;
      color: #666666;
      opacity: 1;
    }
    select {
      text-align: left;
      font: normal normal medium 16px/20px Quicksand;
      letter-spacing: 0px;
      color: #222222;
      opacity: 1;
      border: none;
      border-bottom: 1px solid grey;
      outline: none;
      font-size: medium;
      font-weight: 600;
      width: 100%;
      margin-left: -2px;
      margin-top: 2px;
    }
  }
  .txt {
    margin: 3%;
    .place{
        width: 100%;
    }
    input {
      text-align: left;
      font: normal normal medium 16px/20px Quicksand;
      letter-spacing: 0px;
      color: #666666;
      opacity: 1;
      border: none;
      border-bottom: 1px solid grey;
      outline: none;
     width: 100%;
    }
    div {
      text-align: right;
      font: normal normal medium 14px/18px Quicksand;
      letter-spacing: 0px;
      color: #1f7a54;
      text-transform: uppercase;
      opacity: 1;
    }
  }
  .check {
    margin: 3%;
    label {
      text-align: left;
      font: normal normal medium 16px/20px Quicksand;
      letter-spacing: 0px;
      color: #222222;
      opacity: 1;
    }
  }

    button {
      
      background: #3fd28b 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 5px #0000003d;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 20%;
    padding: 2% 0;
    width: 60%;
    div{
        text-align: center;
      font: normal normal medium 14px/18px Quicksand;
      letter-spacing: 0px;
      color: #1f2834;
      opacity: 1;
      font-weight: bolder;
    }
    }
  
}

footer {
  padding: 10px;
  text-align: center;
  /* UI Properties */
  opacity: 1;
  .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    // word-spacing: 10px;
    div {
      margin-right: 0.5rem;
      font: normal normal medium 14px/18px Quicksand;
      color: #1f7a54;
    }
  }
  .below {
    display: flex;
    flex-direction: row;

    justify-content: center;
    /* UI Properties */
    background: #e0e1e1 0% 0% no-repeat padding-box;
    opacity: 1;
    div {
      padding: 7px 7px;
    }
    .copy,
    .rights {
      text-align: left;
      font: normal normal medium 12px/16px Quicksand;
      letter-spacing: 0px;
      color: #616161;
      opacity: 1;
    }
    .systems {
      text-align: left;
      font: normal normal bold 12px/23px Quicksand;
      letter-spacing: 0px;
      color: #616161;
      opacity: 1;
    }
  }
}
