* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

body {
  background: #eeeeee 0% 0% no-repeat padding-box;
  width: 100%;
}

header {
  /* Layout Properties */
  background: transparent url("../header pattern image.png") 100% 0% padding-box;
  opacity: 0.8;
  height: 3rem;
  width: 100%;
  opacity: 1;
  display: flex;
  flex-direction: row;
}
header .logo {
  display: inline-block;
  vertical-align: middle;
  width: 40%;
  margin: 1%;
}
header .logo img {
  max-width: 100%;
  height: 2rem;
  width: 25%;
}
header .header-right {
  width: 60%;
  justify-content: right;
  align-items: flex-end;
  display: flex;
  flex-direction: row;
}
header .header-right .content {
  text-align: right;
  letter-spacing: 0px;
  color: #3fd28b;
  text-transform: uppercase;
  opacity: 1;
  float: left;
  padding: 0px 10px;
  text-decoration: none;
  font-size: 18px;
  line-height: 2rem;
  border-radius: 4px;
  font-weight: bolder;
}
header .header-right .content img {
  margin-top: 30%;
}
header .header-right .notification {
  padding: 0px 10px;
  position: relative;
  display: inline-block;
}
header .header-right .notification :hover {
  background: red;
}
header .header-right .notification .badge {
  text-align: left;
  letter-spacing: -0.5px;
  background-color: #2a7ff3;
  color: white;
  opacity: 1;
  position: absolute;
  top: -8px;
  right: 2px;
  padding: 1px 5px;
  border-radius: 50%;
}
header .header-right .notification_icon {
  padding: 0px 10px;
  position: relative;
  display: inline-block;
}
header .header-right .notification_icon :hover {
  background: red;
}
header .header-right .notification_icon .badge {
  text-align: left;
  letter-spacing: -0.5px;
  background-color: #2a7ff3;
  color: white;
  opacity: 1;
  position: absolute;
  top: -10px;
  right: -3px;
  padding: 1px 5px;
  border-radius: 50%;
}
header .header-right .notify_img {
  padding: 0px 10px;
  position: relative;
  display: inline-block;
}
header .header-right .notify_img :hover {
  background: red;
}
header .header-right .notify_img .badge {
  text-align: center;
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
  background-color: white;
  position: absolute;
  top: -7px;
  right: 10px;
  padding: 1px 5px;
  border-radius: 50%;
}
header .header-right .active {
  color: white;
  border-bottom-style: inset;
}
header .header-right .hamburger {
  display: none;
}
header .header-right a .profile {
  border-radius: 50%;
  border-color: rgb(55, 164, 119);
  border: 2px;
  opacity: 1;
  width: 3rem;
  padding: 0 10px;
}

.head-options {
  display: none;
}

@media only screen and (max-width: 750px) {
  header .logo {
    width: 20%;
  }
  header .logo img {
    display: block;
    text-align: center;
    width: 100%;
  }
  header .header-right {
    width: 75%;
    justify-content: right;
  }
  header .header-right .hamburger {
    display: block;
  }
  .head-options {
    display: none;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.2392156863) !important;
    border-radius: 2px;
    opacity: 1;
    width: 45%;
    font-size: small;
    text-align: left;
    margin-left: 50%;
    position: absolute;
    z-index: 8;
  }
  .head-options div {
    text-align: left;
    letter-spacing: 0px;
    color: #1f7a54;
    text-transform: uppercase;
    opacity: 1;
    padding: 3% 4%;
    align-items: center;
  }
  .head-options .inner-box {
    background: #f3f3f3 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  .head-options .inner-box .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  .head-options .inner-box .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  .head-options .inner-box .space {
    margin-left: 42%;
  }
  .head-options .inner-box .catalog {
    margin-top: 4%;
  }
  .head-options .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  .head-options .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .head-options .space {
    margin-left: 50%;
  }
  .head-options .reports .space {
    margin-left: 44%;
  }
  .head-options .admin .space {
    margin-left: 48%;
  }
  @keyframes cssAnimation {
    0% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .notify {
    display: none;
    box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.2392156863) !important;
    border-radius: 2px;
    opacity: 1;
    width: 50%;
    font-size: small;
    text-align: left;
    margin-left: 33%;
    position: absolute;
    z-index: 8;
  }
  .notify .sub-not {
    background: #ffffee 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  .notify .sub-not .name {
    text-align: left;
    font: normal normal medium 12px/16px Quicksand;
    letter-spacing: 0px;
    color: #6e6e6e;
    display: flex;
    flex-direction: row;
    padding: 1%;
  }
  .notify .sub-not .name .check-icon {
    display: inline-block;
    margin-left: 20%;
  }
  .notify .sub-not .name .full-name {
    color: #222222;
  }
  .notify .sub-not .assign-class {
    text-align: left;
    font: normal normal medium 14px/18px Quicksand;
    letter-spacing: 0px;
    color: #222222;
    opacity: 1;
    margin: 1%;
  }
  .notify .sub-not .attach {
    text-align: right;
    font: normal normal medium 12px/18px Quicksand;
    letter-spacing: 0px;
    color: #6e6e6e;
    opacity: 1;
    display: flex;
    flex-direction: row;
    padding: 1%;
  }
  .notify .sub-not .attach .attach-ff {
    width: 40%;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
  }
  .notify .sub-not .attach .date {
    width: 55%;
    margin-left: 5%;
  }
  .notify .final-not {
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2392156863);
    border-radius: 0px 0px 2px 2px;
    opacity: 1;
    display: flex;
    flex-direction: row;
  }
  .notify .final-not div {
    padding: 1%;
    margin: 0 10%;
    text-align: center;
    font: normal normal medium 14px/18px Quicksand;
    letter-spacing: -0.35px;
    color: #1f7a54;
    opacity: 1;
  }
  @keyframes cssAnimation {
    0% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .bell-icon {
    display: none;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.2392156863) !important;
    border-radius: 2px;
    opacity: 1;
    width: 50%;
    font-size: small;
    text-align: left;
    margin-left: 25%;
    position: absolute;
    z-index: 8;
  }
  .bell-icon .topic {
    background: #ffffee 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  .bell-icon .topic .sub {
    padding: 1%;
    display: flex;
    flex-direction: row;
    text-align: left;
    font: normal normal medium 14px/18px Quicksand;
    letter-spacing: 0px;
    color: #222222;
    opacity: 1;
  }
  .bell-icon .topic .sub .sub-info {
    width: 90%;
  }
  .bell-icon .topic .sub .sub-img {
    width: 10%;
  }
  .bell-icon .topic .sub .sub-img img {
    margin-left: 10%;
    text-align: left;
    font: normal normal normal 18px/18px Material-Design-Iconic-Font;
    letter-spacing: 0px;
    color: #1f7a54;
    opacity: 1;
  }
  .bell-icon .topic .cours {
    text-align: left;
    font: normal normal medium 12px/16px Quicksand;
    letter-spacing: 0px;
    color: #222222;
    display: flex;
    flex-direction: row;
  }
  .bell-icon .topic .cours .cours-name {
    color: #6E6E6E;
  }
  .bell-icon .topic .bell-date {
    padding: 1%;
    text-align: right;
    font: normal normal medium 12px/14px Quicksand;
    letter-spacing: 0px;
    color: #6e6e6e;
    opacity: 1;
  }
  .bell-icon .bell-not {
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2392156863);
    border-radius: 0px 0px 2px 2px;
    opacity: 1;
  }
  .bell-icon .bell-not div {
    text-align: center;
    padding: 1%;
    font: normal normal medium 14px/18px Quicksand;
    letter-spacing: -0.35px;
    color: #1F7A54;
    opacity: 1;
  }
  @keyframes cssAnimation {
    0% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .sm {
    display: none;
  }
  .middle {
    width: 50%;
    margin: 2% 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: centr;
    justify-content: center;
    align-items: center;
  }
  .middle .obj {
    width: 100%;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
  }
}
.container {
  margin: 3% 5%;
  background: #8ddc97 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
  width: 90%;
  display: flex;
  flex-direction: row;
}
.container .course {
  width: 45%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1% 0;
  display: flex;
  flex-direction: row;
}

.outer_course {
  margin: 3% 5%;
  display: flex;
  flex-direction: row;
  width: 90%;
}
.outer_course .left_c {
  text-align: left;
  width: 50%;
  font: normal normal medium 12px/14px Quicksand;
  letter-spacing: 0px;
  color: #686868;
  opacity: 1;
}
.outer_course .show_course {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: right;
}
.outer_course .show_course div {
  margin: 0 1%;
}
.outer_course .show_course span {
  text-align: right;
  letter-spacing: 0px;
  color: #686868;
  opacity: 1;
  margin: 0 -20%;
}
.outer_course .show_course select {
  text-align: left;
  font: normal normal medium 16px/20px Quicksand;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  font-size: medium;
  font-weight: 600;
  width: 100%;
  margin-left: -2px;
  margin-top: 2px;
  background: #eeeeee 0% 0% no-repeat padding-box;
  margin-right: 1%;
}

.middle {
  width: 95%;
  margin: 0% 2.5%;
  display: flex;
  flex-direction: row;
}
.middle .obj {
  width: 100%;
  margin: 3% 2.5%;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
}
.middle .obj .expired {
  border-radius: 2px;
  opacity: 1;
  text-align: left;
  font: normal normal normal 10px/16px Museo Sans 500;
  letter-spacing: 0px;
  color: white;
  opacity: 1;
  width: 17%;
}
.middle .obj .ff {
  margin: 2% 5%;
  display: flex;
  flex-direction: row;
  width: 90%;
}
.middle .obj .ff .obj3 {
  margin: 0 5%;
  width: 100%;
}
.middle .obj .ff .obj3 .card-name {
  text-align: left;
  font: normal normal medium 16px/20px Quicksand;
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
}
.middle .obj .ff .obj3 .sub-name {
  margin: 2.5% 0;
  text-align: left;
  font: normal normal medium 12px/16px Quicksand;
  letter-spacing: 0px;
  color: #666666;
  opacity: 1;
}
.middle .obj .ff .obj3 .lessons {
  margin: 3.5% 0;
  text-align: left;
  font: normal normal medium 12px/16px Quicksand;
  letter-spacing: 0px;
  color: #666666;
}
.middle .obj .ff .obj3 .lessons b {
  color: black;
}
.middle .obj .ff .obj3 .obj4 {
  width: 100%;
  margin: 5% 0;
}
.middle .obj .ff .obj3 select {
  text-align: left;
  font: normal normal medium 16px/20px Quicksand;
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
  font-size: large;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.747);
  background-color: white;
  font-weight: bold;
  width: 100%;
}
.middle .obj .ff .obj3 .phy {
  text-align: left;
  font: normal normal medium 16px/20px Quicksand;
  letter-spacing: 0px;
  color: #222222 !important;
  opacity: 0.4;
}
.middle .obj .ff .obj3 .stud {
  text-align: left;
  font: normal normal medium 12px/16px Quicksand;
  letter-spacing: 0px;
  color: #666666;
  opacity: 1;
}
.middle .obj .ss {
  margin: 2%;
  width: 100%;
}
.middle .obj .ss img {
  margin: 0 8%;
  width: 4%;
  height: 4%;
}
.middle .obj .exp {
  background: #ffe4e6 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
  text-align: left;
  font: normal normal normal 10px/16px Museo Sans 500;
  letter-spacing: 0px;
  color: #d80000;
  opacity: 1;
  width: 17%;
}
.middle .obj .disable {
  background: #1f7a54 0% 0% no-repeat padding-box;
  opacity: 0.4;
}
.middle .dull {
  text-align: left;
  font: normal normal normal 24px/29px Material-Design-Iconic-Font;
  letter-spacing: -0.6px;
  color: #eeeeee;
  opacity: 1;
}

footer {
  text-align: center;
  /* UI Properties */
  opacity: 1;
}
footer .info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
footer .info div {
  margin-right: 0.5rem;
  font: normal normal medium 14px/18px Quicksand;
  color: #1f7a54;
}
footer .below {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* UI Properties */
  background: #e0e1e1 0% 0% no-repeat padding-box;
  opacity: 1;
}
footer .below div {
  padding: 7px 7px;
}
footer .below .copy,
footer .below .rights {
  text-align: left;
  font: normal normal medium 12px/16px Quicksand;
  letter-spacing: 0px;
  color: #616161;
  opacity: 1;
}
footer .below .systems {
  text-align: left;
  font: normal normal bold 12px/23px Quicksand;
  letter-spacing: 0px;
  color: #616161;
  opacity: 1;
}/*# sourceMappingURL=style.css.map */