* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

body {
  background: #eeeeee 0% 0% no-repeat padding-box;
  width: 100%;
}

header {
  /* Layout Properties */
  background: transparent
    url("/t4_saas/quantum screen assets/header pattern image.png") 100% 0%
    padding-box;
  // mix-blend-mode: overlay;
  opacity: 0.8;
  height: 3rem;
  width: 100%;
  opacity: 1;
  display: flex;
  flex-direction: row;
  //   width: 100rem;
  .logo {
    display: inline-block;
    vertical-align: middle;
    width: 40%;
    // height: 10%;
    margin: 1%;
    img {
      max-width: 100%;
      height: 2rem;
      width: 25%;
    }
  }
  .header-right {
    // height: 6%;
    width: 60%;
    // margin: 1%;
    justify-content: right;
    align-items: flex-end;

    display: flex;
    flex-direction: row;
    .content {
      text-align: right;
      letter-spacing: 0px;
      color: #3fd28b;
      text-transform: uppercase;
      opacity: 1;
      float: left;
      padding: 0px 10px;
      text-decoration: none;
      font-size: 18px;
      line-height: 2rem;
      border-radius: 4px;
      font-weight: bolder;
      img {
        margin-top: 30%;
      }
    }
    .notification {
      padding: 0px 10px;
      position: relative;
      display: inline-block;
      :hover {
        background: red;
      }
      .badge {
        text-align: left;
        letter-spacing: -0.5px;
        background-color: #2a7ff3;
        color: white;
        opacity: 1;
        position: absolute;
        top: -8px;
        right: 2px;
        padding: 1px 5px;
        border-radius: 50%;
      }
    }
    .notification_icon {
      padding: 0px 10px;
      position: relative;
      display: inline-block;
      :hover {
        background: red;
      }
      .badge {
        text-align: left;
        letter-spacing: -0.5px;
        background-color: #2a7ff3;
        color: white;
        opacity: 1;
        position: absolute;
        top: -10px;
        right: -3px;
        padding: 1px 5px;
        border-radius: 50%;
      }
    }
    .notify_img {
      padding: 0px 10px;
      position: relative;
      display: inline-block;
      :hover {
        background: red;
      }
      .badge {
        text-align: center;
        letter-spacing: 0px;
        color: #222222;
        opacity: 1;
        background-color: white;
        position: absolute;
        top: -7px;
        right: 10px;
        padding: 1px 5px;
        border-radius: 50%;
      }
    }
    .active {
      color: white;
      border-bottom-style: inset;
    }
    .hamburger {
      display: none;
    }
    a .profile {
      border-radius: 50%;
      border-color: rgb(55, 164, 119);
      border: 2px;
      opacity: 1;
      // height: 2rem;
      width: 3rem;
      padding: 0 10px;
    }
  }
}

@media only screen and (max-width: 750px) {
  header {
    .logo {
      width: 20%;
      img {
        display: block;
        text-align: center;
        width: 100%;
      }
    }
    .header-right {
      width: 75%;
      justify-content: right;
      .hamburger {
        display: block;
      }
    }
  }
  .sm {
    display: none;
  }
  .middle {
    width: 50%;
    margin: 2% 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    .obj {
      width: 100%;
      margin: 0 2.5%;
      background: #ffffff 0% 0% no-repeat padding-box;
      border-radius: 2px;
      opacity: 1;
    }
  }
}

.container {
  margin: 3% 5%;
  background: #8ddc97 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
  width: 90%;
  display: flex;
  flex-direction: row;
  .course {
    width: 45%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1% 0;
    display: flex;
    flex-direction: row;
  }
}

.outer_course {
  margin: 3% 5%;
  display: flex;
  flex-direction: row;
  width: 90%;
  .left_c {
    text-align: left;
    width: 50%;
    font: normal normal medium 12px/14px Quicksand;
    letter-spacing: 0px;
    color: #686868;
    opacity: 1;
  }
  .show_course {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: right;
    div {
      margin: 0 1%;
    }
    span {
      text-align: right;
      letter-spacing: 0px;
      color: #686868;
      opacity: 1;
      margin: 0 -20%;
    }
    select {
      text-align: left;
      font: normal normal medium 16px/20px Quicksand;
      letter-spacing: 0px;
      color: #333333;
      opacity: 1;
      border: none;
      border-bottom: 1px solid grey;
      outline: none;
      font-size: medium;
      font-weight: 600;
      width: 100%;
      margin-left: -2px;
      margin-top: 2px;
      background: #eeeeee 0% 0% no-repeat padding-box;
      margin-right: 1%;
    }
  }
}

.middle {
  width: 95%;
  margin: 2% 2.5%;
  display: flex;
  flex-direction: row;
  .obj {
    width: 100%;
    margin: 0 2.5%;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    .expired {
      //   background: #ffe4e6 0% 0% no-repeat padding-box;
      border-radius: 2px;
      opacity: 1;
      text-align: left;
      font: normal normal normal 10px/16px Museo Sans 500;
      letter-spacing: 0px;
      color: white;
      opacity: 1;
      width: 17%;
    }
    .ff {
      margin: 2% 5%;
      display: flex;
      flex-direction: row;
      width: 90%;
      .obj3 {
        margin: 0 5%;
        width: 100%;
        .card-name {
          text-align: left;
          font: normal normal medium 16px/20px Quicksand;
          letter-spacing: 0px;
          color: #222222;
          opacity: 1;
        }
        .sub-name {
          margin: 2.5% 0;
          text-align: left;
          font: normal normal medium 12px/16px Quicksand;
          letter-spacing: 0px;
          color: #666666;
          opacity: 1;
        }
        .lessons {
          margin: 3.5% 0;
          text-align: left;
          font: normal normal medium 12px/16px Quicksand;
          letter-spacing: 0px;
          color: #666666;
          b {
            // font-weight: bold;
            color: black;
          }
        }
        .obj4 {
          width: 100%;
          margin: 5% 0;
        }
        select {
          text-align: left;
          font: normal normal medium 16px/20px Quicksand;
          letter-spacing: 0px;
          color: #222222;
          opacity: 1;
          font-size: large;
          border: none;
          outline: none;
          border-bottom: 1px solid rgba(128, 128, 128, 0.747);
          background-color: white;
          font-weight: bold;
          width: 100%;
         
        }
        .phy {
            text-align: left;
            font: normal normal medium 16px/20px Quicksand;
            letter-spacing: 0px;
            color: #222222  !important;
            opacity: 0.4;
          }
        .stud {
          text-align: left;
          font: normal normal medium 12px/16px Quicksand;
          letter-spacing: 0px;
          color: #666666;
          opacity: 1;
        }
      }
    }
    .ss {
      margin: 2%;
      width: 100%;
      img {
        margin: 0 10%;
      }
    }
    .exp {
      background: #ffe4e6 0% 0% no-repeat padding-box;
      border-radius: 2px;
      opacity: 1;
      text-align: left;
      font: normal normal normal 10px/16px Museo Sans 500;
      letter-spacing: 0px;
      color: #d80000;
      opacity: 1;
      width: 17%;
    }
    .disable {
      background: #1f7a54 0% 0% no-repeat padding-box;
      opacity: 0.4;
    }
  }
  .dull {
    text-align: left;
    font: normal normal normal 24px/29px Material-Design-Iconic-Font;
    letter-spacing: -0.6px;
    color: #eeeeee;
    opacity: 1;
  }
  
}

footer {
  //   padding: 10px;
  text-align: center;
  /* UI Properties */
  opacity: 1;
  .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    // word-spacing: 10px;
    div {
      margin-right: 0.5rem;
      font: normal normal medium 14px/18px Quicksand;
      color: #1f7a54;
    }
  }
  .below {
    display: flex;
    flex-direction: row;

    justify-content: center;
    /* UI Properties */
    background: #e0e1e1 0% 0% no-repeat padding-box;
    opacity: 1;
    div {
      padding: 7px 7px;
    }
    .copy,
    .rights {
      text-align: left;
      font: normal normal medium 12px/16px Quicksand;
      letter-spacing: 0px;
      color: #616161;
      opacity: 1;
    }
    .systems {
      text-align: left;
      font: normal normal bold 12px/23px Quicksand;
      letter-spacing: 0px;
      color: #616161;
      opacity: 1;
    }
  }
}
