

* {
  margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
  
}

header{

  background-image: url('/quantum screen assets/header pattern image.png');
  position: fixed;
  width: 100vw;
  padding-left: 20px;
  padding-top: 5px;
  top: 0px;
  
}


.frm {

  width: 100vw;
  height: 105vh;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
 /* padding: 90px; */
}

.inn{
  display: flex;
    width: 50vw;
    max-width: 400px;
    flex-direction: column;
    margin-top: 75px;
    height: fit-content;
    border-radius: 5px;
    
    background-color: white;
    padding: 10px 20px;
    border-top: 4px solid #3ac7ec ;
}

.top{
  display: flex;
  justify-content: center;
}

.top img{
  height: 100%;
}

.top h2{
  width: 100%;
  text-align: center;
  /* justify-content: center; */
}

form{
  display: flex;
  flex-direction: column;
}

.radio_but{
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.radio_but label{
  display: flex;
    align-items: center;
    font-weight: 600;
}

.radio_but label:nth-child(2) {
  margin-left: 15px;

}

input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #1f7a54;
  outline: none;
  margin-right: 3px;
  position: relative;
}

input[type="radio"]:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  
  /* Set the inside color */
 
  /* Set the gap and border color */
}


/* Customize the checked state */
input[type="radio"]:checked:before {
  background-color: #1f7a54;
  /* Set the inside color when the radio button is checked */
  /* box-shadow: 0 0 0 2px #f00; */
  /* Set the gap and border color when the radio button is checked */
}

select{
  border: none;
  border-bottom:1px solid rgba(128, 128, 128, 0.747);
  font-weight: 600;
  font-size: medium;
  padding-bottom: 3px;
}

span{
  margin-top: 15px;
  margin-left: 3px;
  margin-bottom: 3px;
}

input[type="text"],
input[type="password"]{
    margin-top: 30px;
    border: none;
    border-bottom: 1px solid grey;
    padding-bottom: 3px;
    outline: none;
    font-size: medium;
    font-weight: 600;
}

h3{
    text-align: end;
    color: #1f7a54;
    font-weight: 600;
    font-size: small;
}

.checkbox-label{
    margin-top: 30px;
    font-weight:550;
}

#checkbox1{
  accent-color: #1f7a54;
}

.submit{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

button{
  width: max-content;
  border: none;
  background-color: #3fd28b;
  color: black;
  text-transform: uppercase;
  padding: 15px 23%;
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 700;

}

.cursor_pointer
{
  cursor: pointer;
}

.info{
  margin-top: 3vh;
  display: flex;
  color: #1f7a54;
}

.vertical{
  border: 1px solid rgba(128, 128, 128, 0.705);
  margin: 1px 5px;
}
 
footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(224,224,224);
  height: auto;
  width: 100vw;
  padding-top: 10px;
   padding-right: 20px;
   padding-left: 170px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;  
  text-align: center;
}

footer img{
  padding-right: 10px;
}

.right{
  padding-top: 8px ;
  display: inline-block;
  padding-right: 100px;
  text-align: center;
  width: 50%;
}

@media screen and (max-width: 200px) {

  .right {
      width: 20%;
  }
}